.tabs-header {
  display: flex;
}

.single-tab {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.tab-body {
  border: 1px solid black;
  padding: 10px;
  height: 300px;
}

.naviation-buttons {
  margin: 5px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
