.container{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items:center
}

.input-container{
    display: flex;
    flex-direction: row;
}

.input{
    width: 50px;
    height: 50px;
    border: 0px;
    border-bottom: 3px solid blue;
    margin-left: 10px;
    text-align: center;
    background-color: white;
}

input:focus{
    border-color: red;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}